.container {
  margin: 1rem 0 2rem;
}

.cardsContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.card {
  width: 200px;
  aspect-ratio: 1;
  margin: .5rem;
  transform: rotateY(180deg);
  transition: .2s;
}

.card:hover:not(:disabled) {
  cursor: pointer;
}

.cardActive {
  transform: rotateY(0deg);
  background: red;
  transition: .2s;
}

.cardFound {
  transform: rotateY(0deg);
  background: green;
  transition: .2s;
}

.characterImage {
  max-width: 100%;
  object-fit: contain;
  aspect-ratio: 1;
  opacity: 0;
  visibility: hidden;
  transition: .2s;
}

.cardActive .characterImage,
.cardFound .characterImage {
  visibility: visible;
  opacity: 1;
  transition: .2s;
}

.textCardsFound {
  font-size: 1.2rem;
  text-align: center;
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  z-index: 5;
  padding: .6rem 1rem;
  margin: 0;
  color: white;
  background-color: #06511d;
  border-radius: 18px;
}

.gameOverContainer {
  max-width: 500px;
  width: 100%;
  display: inline-flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: .5rem .8rem;
  border-radius: 18px;
  background-color: var(--background);
  box-shadow: 0 0 40px -2px black;
}

.gameOverContainer h3 {
  color: white;
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 0;
}